<web-app>
    <display-name>api</display-name>
    <dependencies>
        <dependency>
            <groupId>mysql</groupId>
            <artifactId>mysql-connector-java</artifactId>
            <version>8.0.32</version>
        </dependency>
        <dependency>
            <groupId>JSON</groupId>
            <artifactId>json</artifactId>
            <version>20230227</version>
        </dependency>
    </dependencies>

    <servlet>
        <servlet-name>FlightsServlet</servlet-name>
        <servlet-class>FlightsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FlightsServlet</servlet-name>
        <url-pattern>/flights/*</url-pattern>
    </servlet-mapping>
</web-app>